.footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #f4f4f4; /* Light background for footer */
    border-top: 1px solid #ccc; /* Top border for separation */
  }
  
  .footer p {
    font-size: 1em;
    color: #333;
  }
  