.header {
  text-align: center;
  color: rgb(15, 1, 1); /* Header text color */
  padding: 20px; /* Padding around header */
  border-radius: 5px; /* Rounded corners */
  margin-bottom: 20px; /* Space below header */
}

.header h1 {
  font-size: 2.5em; /* Font size for the title */
}

.header p {
  font-size: 1.2em; /* Font size for paragraph */
}
